body {
    background-color: #b6cbdc;
}

.top-section {
    padding: 60px 0;
    /* background-color: grey;   */
}

.text-photo-box {
    /* background-color: #0000FF;   */
}

.text-box-1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /* background-color: #FF0000; */
}

.text-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #3131e7;
}

.photo-box {
    width: 350px;
    margin: 0 auto;
}

.photo {
    width: 100%;
    height: auto;
    display: block;
}

.middle-section {
    width: 60%;
    margin: 0 auto;
    padding: 34px;
    border-radius: 15px;
    background-color: #6513F1;
}

/* .page-content-1 {
    background-color: grey;
} */

/* .text-box-2 {
    background-color: #FF0000;
} */

.text-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 900;
    color: #FFFFFF;
}

.text-3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.list {
    list-style-type: none;
    /* padding-left: 0; */
    padding-left: 12px;
    /* background-color: #FFFF00; */
}

.list__item {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 16px 0;
}

.list__item--highlight {
    color: #e3e31c;
    margin: 16px 0;
    border-left: 6px solid #FFFF00;
}

.docs-link {
    display: inline-block;
    text-decoration: none;
    padding: 6px;
    border-radius: 8px;
    background-color: #FFFF00;
}

.footer {
    padding: 14px 0;
    /* background-color: grey; */
}

.footer__box {
    width: 90%;
    margin: 0 auto;
    /* background-color: grey; */
}

.footer__button-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: -18px;
    text-align: center;
    /* background-color: #00FF00; */
}

.footer__button {
    font-size: 24px;
    display: inline-block;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #FFFF00;
}

.footer__text-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /* background-color: #FF0000; */
}

.footer__text {
    font-size: 24px;
}